@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --navbar-height: 72px;

  --serif: "Hiragino Mincho ProN", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN",
    "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  --serif-logo: "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;

  /* [2024年に最適なfont-familyの書き方](https://ics.media/entry/200317/) */
  --sans-serif: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;

  --montserrat-sans: montserrat, sans-serif;

  --color-primary: hsl(226 49% 23%);
  --color-on-primary: white;
  --color-accent: hsl(4 58% 58%);

  --color-grey095: hsl(226 10% 95%);

  font-size: 12pt;
  font-family: var(--sans-serif);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-primary);
}

a {
  color: var(--color-accent);
}

/* ------------------------------------
ページ共通
------------------------------------ */

/* Hugoのビルドが上手くいかなくてセットされないTailwindのスタイル(暫定対応) */
@media (min-width: 640px) {
  .sm\:text-2xl {
    font-size: 1.5rem;
  }
}

.site-header {
  padding: 0.75rem;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  column-gap: 2rem;
}

.site-header > .site-logo {
  margin: 0;
  display: block;
  line-height: 1;
  text-decoration: inherit;
}

.site-header > .site-logo > img {
  display: block;
  width: 100%;
}

.site-header > nav > a {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  text-decoration: inherit;
  color: inherit;
}

.site-footer {
  padding: 2rem;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.site-footer > nav {
  text-align: left;
}

.site-footer > nav > div > a {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  text-decoration: inherit;
  color: inherit;
  line-height: 1;
}

/* ------------------------------------
Markdown
------------------------------------ */

.markdown {
  max-width: 32.5em;
}

.markdown > * {
  margin-block: 1.5em;
}

.markdown > :first-child {
  margin-block: 0;
}

.markdown h2 {
  margin: 7rem 0 2.5rem;
  line-height: 1;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.markdown p,
.markdown ul {
  letter-spacing: 0.01em;
  line-height: 1.75;
}

.markdown li {
  padding-left: 0.3em;
}

.markdown li + li {
  margin-top: 0.25em;
}

.markdown li::marker {
  font-size: 1.4em;
}

/* ------------------------------------
トップページ
------------------------------------ */

section {
  padding: 4rem 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

section:has(.about),
section:has(.sponsors) {
  background-color: var(--color-grey095);
}

section > h2 {
  margin: 0;
  font-family: var(--montserrat-sans);
  font-optical-sizing: auto;
  line-height: 1;
  font-size: 1.75rem;
  font-weight: 300;
}

.sponsors {
  max-width: 40em;
  padding-inline: 1.2em;
  border-radius: 0.75rem;
  background-color: white;
}

.sponsors h3 {
  margin: 0;
  padding-top: 1.5rem;
  text-align: center;
  line-height: 2.25rem;
  font-weight: normal;
}

.sponsors p {
  margin-block: 1rem;
  font-size: 14px;
}

@media all and (min-width: 640px) {
  .sponsors p {
    font-size: 16px;
  }
}

.people {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.people > h3 {
  margin: 0;
  text-align: center;
  font-weight: normal;
}

.people.leaders {
  max-width: 720px;
}

.people.staff {
  max-width: 1200px;
}

.people ul {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  row-gap: 0.2rem;
  list-style: none;
}

@media all and (min-width: 640px) {
  .people ul {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

.people a.person {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  border: 1px solid transparent;
}

a.person:hover {
  background-color: #f9f9f9;
  border-color: #ddd;
}

.people .person > img {
  max-width: 50px;
  border-radius: 50%;
  border: 1px solid hsl(0 0 0 / 0.05);
}

/* ------------------------------------
行動規範
------------------------------------ */

section.coc {
  padding-block: 3rem;
}

.section_figure {
  margin-inline: 0;
  text-align: center;
}

.section_movie {
  max-width: 100%;
}

.markdown ul,
.markdown blockquote,
.section_note {
  margin-block: 2em;
  width: calc(100% + 1em);
  translate: -0.5em;
  margin-inline: 0;
  background-color: var(--color-grey095);
  font-size: 16px;
  padding: 1em 1.5em;
  border-radius: 10px;
}

.markdown ul {
  padding: 1em 1.5em 1em 2em;
}

@media all and (min-width: 640px) {
  .markdown ul,
  .markdown blockquote,
  .section_note {
    width: calc(100% + 4em);
    translate: -2em;
    padding: 2em;
  }

  .markdown ul {
    padding: 2em 2em 2em 55px;
  }
}

/*
 * elm-markdownのMarkdownの中にHTMLタグがあると、
 * その直下に<p>タグが必ず入るよう(<b>abc</b> → <b><p>abc</p></b>となる)なのでCSS上は何もない扱いにする
 */
.markdown-html-workaround > * p {
  display: contents;
}
